{{!-- eslint-disable-next-line require-presentational-children --}}
<div
  class="w-full h-0 relative border border-gray-400 text-center pb-[100%] rounded-lg cursor-pointer
    {{if @winningSquare 'bg-emerald-800' 'hover:bg-gray-800'}}"
  role="button"
  tabindex="0"
  {{on "click" this.handleClick}}
  {{on "mouseover" this.handleMouseOver}}
  {{on "mouseout" this.handleMouseOut}}
  data-testid="square"
>

  {{#if this.value}}
    <IconifyIcon
      @icon={{if (eq this.value "X") "ri:close-large-line" "ri:circle-line"}}
      width="100%"
      class="p-4 h-auto"
      color={{if (eq this.value "X") "#ef4444" "#3b82f6"}}
      aria-hidden="true"
      role="presentation"
    />

  {{else}}
    <IconifyIcon
      @icon={{if (eq @turn 0) "ri:close-large-line" "ri:circle-line"}}
      width="100%"
      class="p-4 h-auto {{if this.isHovered 'block opacity-30' 'hidden'}}"
      color={{if (eq @turn 0) "#ef4444" "#3b82f6"}}
      aria-hidden="true"
      role="presentation"
    />
  {{/if}}

</div>