<div
  class="fixed z-50 flex justify-center items-center md:inset-0 h-[calc(100%-1rem)] backdrop-blur-sm"
>
  <div
    class="relative max-w-md w-full max-h-full rounded-lg shadow bg-white dark:bg-slate-800 px-10 py-5 flex flex-col gap-5"
  >
    <button
      type="button"
      class="absolute top-2 right-2 ms-auto -mx-1.5 -my-1.5 bg-gray-100 text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-white inline-flex items-center justify-center h-8 w-8 dark:text-white dark:bg-slate-800 dark:hover:bg-slate-700 mr-1 mt-1"
      {{on "click" @onClose}}
      data-testid="close-button"
    >
      <IconifyIcon @icon="mingcute:close-fill" width="32" height="32" />
    </button>
    <div class="text-center text-2xl mt-2 mb-5" data-testid="content">
      {{yield}}
    </div>
    <div class="flex justify-center gap-2">
      <button
        class="text-white bg-trasparent hover:bg-gray-700 border-2 border-gray-700 focus:ring-4 focus:ring-blue-800 rounded-lg text-md px-3 py-2 mb-2 focus:outline-none"
        type="button"
        {{on "click" @primaryAction}}
        data-testid="primary-action"
      >
        {{@primaryActionText}}
      </button>
      {{#if @secondaryAction}}
        <button
          class="text-white bg-gray-700 hover:bg-gray-600 focus:ring-4 focus:ring-blue-800 rounded-lg text-md px-3 py-2 mb-2 focus:outline-none"
          type="button"
          {{on "click" @secondaryAction}}
          data-testid="secondary-action"
        >
          {{@secondaryActionText}}
        </button>
      {{/if}}
    </div>
  </div>
</div>