<Play::Turn @turn={{this.turn}} @onClick={{this.onChangeTurnClick}} />

<div class="grid grid-cols-3 gap-4 mx-96 my-24" data-testid="board">
  {{#each this.board as |value index|}}
    <Play::Square
      @initialValue={{value}}
      @turn={{this.turn}}
      @index={{index}}
      @winningSquare={{includes index this.winIndexes}}
      @onClick={{this.onSquareClick}}
    />
  {{/each}}
</div>