<Play::Turn @turn={{this.turn}} @onClick={{this.onChangeTurnClick}} />

<div class="w-4/12 grid grid-cols-3 gap-4 m-auto pt-10" data-testid="board">
  {{#each this.board as |value index|}}
    <Play::Square
      @initialValue={{value}}
      @turn={{this.turn}}
      @index={{index}}
      @winningSquare={{includes index this.winIndexes}}
      @disabled={{or
        (eq this.isWinDialogOpen null)
        (eq this.isDrawDialogOpen null)
      }}
      @onClick={{this.onSquareClick}}
    />
  {{/each}}
</div>

{{#if this.isWinDialogOpen}}
  <Common::Dialog
    @primaryActionText="New game"
    @primaryAction={{this.newGameAction}}
    @onClose={{this.closeWinDialog}}
  >
    <div class="flex flex-col items-center gap-5">
      <IconifyIcon @icon="game-icons:party-popper" width="48" height="48" />
      <h1>Player {{if this.turn "O" "X"}} win this game!</h1>
    </div>
  </Common::Dialog>
{{/if}}

{{#if this.isDrawDialogOpen}}
  <Common::Dialog
    @primaryActionText="New Game"
    @primaryAction={{this.newGameAction}}
    @onClose={{this.closeDrawDialog}}
  >
    <div class="flex flex-col items-center gap-5">
      <IconifyIcon @icon="mdi:equal" width="48" height="48" />
      <h1>No one wins!</h1>
    </div>
  </Common::Dialog>
{{/if}}