<div class="flex justify-evenly items-center mt-10">
  <Play::Scores @scoreX={{this.score.scores.X}} @scoreO={{this.score.scores.O}} />

  {{#if (or (eq this.game.isDraw null) (eq this.game.isWin null))}}
    <div class="flex justify-center mt-5">
      <button
        class="block py-2 px-3 text-xl text-white rounded bg-sky-800"
        data-testid="new-game"
        type="button"
        {{on "click" this.newGameAction}}
      >
        New Game
      </button>
    </div>
  {{else}}
    <Play::Turn @turn={{this.game.turn}} />
  {{/if}}
</div>

<div class="w-4/12 grid grid-cols-3 gap-4 m-auto pt-10" data-testid="board">
  {{#each this.game.board as |item|}}
    <Play::Square
      @initialValue={{item.value}}
      @turn={{this.game.turn}}
      @index={{item.index}}
      @winningSquare={{includes item.index this.game.winIndexes}}
      @disabled={{or (eq this.game.isWin null) (eq this.game.isDraw null)}}
      @onClick={{this.onSquareClick}}
    />
  {{/each}}
</div>

{{#if this.game.isWin}}
  <Common::Dialog
    @primaryActionText="New game"
    @primaryAction={{this.newGameAction}}
    @onClose={{this.closeWinDialog}}
  >
    <div class="flex flex-col items-center gap-5">
      <IconifyIcon @icon="bxs:trophy" width="48" height="48" />
      <h1>Player {{if this.game.turn "O" "X"}} won!</h1>
    </div>
  </Common::Dialog>
{{/if}}

{{#if this.game.isDraw}}
  <Common::Dialog
    @primaryActionText="New Game"
    @primaryAction={{this.newGameAction}}
    @onClose={{this.closeDrawDialog}}
  >
    <div class="flex flex-col items-center gap-5">
      <IconifyIcon @icon="ri:shake-hands-fill" width="48" height="48" />
      <h1>Its a draw!</h1>
    </div>
  </Common::Dialog>
{{/if}}